[submodule "yosys"]
	path = yosys
	url = https://github.com/antmicro/yosys
	branch = ibex-wip
[submodule "ibex"]
	path = ibex
	url = https://github.com/lowRISC/ibex/
[submodule "yosys-symbiflow-plugins"]
	path = yosys-symbiflow-plugins
	url = https://github.com/SymbiFlow/yosys-symbiflow-plugins
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env
