[submodule "yosys"]
	path = yosys
	url = https://github.com/antmicro/yosys
	branch = ibex-wip
[submodule "ibex"]
	path = ibex
	url = https://github.com/lowRISC/ibex/
[submodule "yosys-symbiflow-plugins"]
	path = yosys-symbiflow-plugins
	url = https://github.com/SymbiFlow/yosys-symbiflow-plugins
[submodule "prjxray"]
	path = prjxray
	url = https://github.com/SymbiFlow/prjxray
