# Format: //devtools/kokoro/config/proto/build.proto

build_file: "ibex-yosys-build/.github/kokoro/continuous.sh"

timeout_mins: 4320

action {
  define_artifacts {
    # File types
    regex: "**/*result*.xml"
    regex: "**/*sponge_log.xml"
    # Whole directories
    regex: "**/build/*.log"
    regex: "**/logs/**"
    strip_prefix: "github/ibex-yosys-build/"
  }
}

env_vars {
  key: "KOKORO_TYPE"
  value: "continuous"
}

env_vars {
  key: "KOKORO_DIR"
  value: "ibex-yosys-build"
}

env_vars {
  key: "PARTNAME"
  value: "xc7a35tcsg324-1"
}

env_vars {
  key: "DEVICE"
  value: "xc7a50t_test"
}
